{% load staticfiles %}

<html>
	<head>
	    <link rel="stylesheet" href= '{% static "/static/css/main.css" %} '>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
		<title> Real estate dahsbaord </title>
		<meta name="author" content="Khaled Gabr"> 
	</head>

	
	
<body>
	<div class= main>
	<nav class= "side_menu">
	<img class="main_logo" src="/static/icons/logo.png" >
	<ul>
		<li>
			<a href="#" class= "menu_item">
				<img class = "menu_icon" src="/static/icons/home.png" >
				<h3 class = "menu_text"> Home </h3>
			</a>       
	    </li>
	    	<li>
			<a href="https://realestate-estateship.c9users.io/dashboard/list/" class= "menu_item active_menu_item">
				<img class = "menu_icon" src="/static/icons/listing.png" >
				<h3 class = "menu_text"> Properties </h3>
			</a>       
	    </li>
	    	<li>
			<a href="#" class= "menu_item">
				<img class = "menu_icon" src="/static/icons/statistics.png" >
				<h3 class = "menu_text"> Statistics </h3>
			</a>       
	    </li>
	    <li>
			<a href="#" class= "menu_item">
				<img class = "menu_icon" src="/static/icons/user.png" >
				<h3 class = "menu_text"> User </h3>
			</a>       
	    </li>
	    <li>
			<a href="#" class= "menu_item">
				<img class = "menu_icon" src="/static/icons/setting.png" >
				<h3 class = "menu_text"> Setting </h3>
			</a>       
	    </li>
    </ul>
	</nav>

	
	<div class= "upper_menu" >
			<a href="https://realestate-estateship.c9users.io/dashboard/create/" class= "add_properties_button" >
				<img class="add_icon" src="/static/icons/add_icon.png"> 
				Add properties 
			</a>
			<img class= "upper_menu_item profile_icon" src="/static/icons/classprofile.png">
			<img class= "upper_menu_item profile_icon_arrow" src="/static/icons/arrow.png">
	
	</div>
	
	<div class= "main_section">
		<h1 class="header">Properties</h1>
		<p class="properties_number"> ({{ properties|length }})</p>
		<table class= "whole_table">
			<tr class = "tabletitle"> 
				<td class="single_title"> Title  </td>
				<td class="single_title"> Address  </td>
				<td class="single_title"> Price </td>
				<td class="single_title"> Owner Name </td>
				<td class="single_title"> Status </td>
				<td class="single_title">  </td>
			</tr>
			
			{%  for property in properties  %}
			<tr class="actual_data">
				<td class= "singlecol" >  {{ property.property_title }}  </td>
				<td class= "singlecol">   {{ property.property_address }}  </td>
				<td class= "singlecol">   {{ property.property_price }}$ </td>
				<td class= "singlecol">   {{ property.property_owner_name  }} </td>
				<td class= "singlecol"> Active </td>
				<td class= "singlecol">  <img class=" details"src="/static/icons/options.png"> </td>
				
				<td class= "singlecol delete_icon">  
					<a href="https://realestate-estateship.c9users.io/dashboard/delete/{{ property.id}}">
						<img class="details_delete" src="/static/icons/delete.png"> 
					</a>
				</td>
			</tr>
			{% endfor %}

			
		</table>
		
		
	</div>
	</div>
	
	
		
		
</body>
	
	
	
	
</html>